# === Core Streamlit App ===
streamlit
pandas
numpy

# === Scraping ===
tweepy
google-api-python-client
google-play-scraper

# === Preprocessing Bahasa Indonesia ===
Sastrawi

# === Modeling & Machine Learning ===
scikit-learn==1.2.2
imbalanced-learn==0.10.1

# === Visualisasi ===
matplotlib
seaborn
wordcloud

# === Ekspor Excel / Download Support ===
openpyxl
xlsxwriter

# === Tambahan Umum ===
Pillow
